 <div class="header__topbar-classic-bg"></div>
      <div class="header__topbar-classic">
         <div class="topbar topbar--classic">
            <div class="topbar__item-text"><a class="topbar__link" href="about-us.html">About Us</a></div>
            <div class="topbar__item-text"><a class="topbar__link" href="contact-us.html">Contacts</a></div>
            <div class="topbar__item-text"><a class="topbar__link" href="#">Store Location</a></div>
            <div class="topbar__item-text"><a class="topbar__link" href="track-order.html">Track Order</a></div>
            <div class="topbar__item-text"><a class="topbar__link" href="blog-grid-right-sidebar.html">Blog</a></div>
            <div class="topbar__item-spring"></div>
            <div class="topbar__item-button">
               <% if current_user %>
                  <a href="<%= destroy_user_session_path %>" data-method="delete" class="topbar__button"><span class="topbar__button-label">Sign Out</span></a>
               <% else %>
                  <a href="/users/sign_in"  class="topbar__button"><span class="topbar__button-label">Sign In</span></a>

               <% end %>
            </div>
            
         </div>
      </div>